<section class="legend__container">
  <div class="legend__item">
    <p class="legend__title"><strong>Máscara</strong></p>
    <div class="icons__wrapper">
      <div class="icon__container">
        <img src="assets/images/png/required-mask.png" />
        <span>Obrigatório</span>
      </div>
      <div class="icon__container">
        <img src="assets/images/png/recommended-mask.png" />
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="legend__item">
    <p class="legend__title"><strong>Toalha</strong></p>
    <div class="icons__wrapper">
      <div class="icon__container">
        <img src="assets/images/png/required-towel.png" />
        <span>Obrigatório</span>
      </div>
      <div class="icon__container">
        <img src="assets/images/png/recommended-towel.png" />
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="legend__item">
    <p class="legend__title"><strong>Bebedouro</strong></p>
    <div class="icons__wrapper">
      <div class="icon__container">
        <img src="assets/images/png/partial-fountain.png" />
        <span>Parcial</span>
      </div>
      <div class="icon__container">
        <img src="assets/images/png/forbidden-fountain.png" />
        <span>Proibido</span>
      </div>
    </div>
  </div>
  <div class="legend__item">
    <p class="legend__title"><strong>Vestiários</strong></p>
    <div class="icons__wrapper">
      <div class="icon__container">
        <img src="assets/images/png/required-lockerroom.png" />
        <span>Liberado</span>
      </div>
      <div class="icon__container">
        <img src="assets/images/png/partial-lockerroom.png" />
        <span>Parcial</span>
      </div>
      <div class="icon__container">
        <img src="assets/images/png/forbidden-lockerroom.png" />
        <span>Fechado</span>
      </div>
    </div>
  </div>
</section>
