<form class="form__group" [formGroup]="formGroup">
  <div class="form__label">
    <img src="assets/images/png/icon-hour.png" />Horário
  </div>
  <h3>Qual período você quer treinar?</h3>

  <div class="form__item">
    <div class="input__group">
      <input type="radio" name="hour" formControlName="hour" value="morning" />
      <label for="morning">Manhã</label>
    </div>
    <span>06:00 às 12:00</span>
  </div>

  <div class="form__item">
    <div class="input__group">
      <input
        type="radio"
        name="hour"
        formControlName="hour"
        value="afternoon"
      />
      <label for="afternoon">Tarde</label>
    </div>
    <span>12:01 às 18:00</span>
  </div>

  <div class="form__item">
    <div class="input__group">
      <input type="radio" name="hour" formControlName="hour" value="night" />
      <label for="night">Noite</label>
    </div>
    <span>18:01 às 23:00</span>
  </div>

  <div class="checkbox__wrapper">
    <div class="input__group">
      <input type="checkbox" name="showClosed" formControlName="showClosed" />
      <label for="show-closed">Exibir unidades fechadas</label>
    </div>
    <span>
      Resultados encontrados:
      <strong>{{ results.length }}</strong>
    </span>
  </div>

  <div class="button__wrapper">
    <button class="search__button" (click)="onSubmit()">
      Encontrar unidade
    </button>
    <button class="clear__button" (click)="onClean()">Limpar</button>
  </div>
</form>
