<form class="form__group">
  <div class="form__label">
    <img src="assets/images/png/icon-hour.png" />Horário
  </div>
  <h3>Qual período você quer treinar?</h3>

  <div class="form__item">
    <div class="input__group">
      <input type="radio" name="morning" />
      <label for="morning">Manhã</label>
    </div>
    <span>06:00 às 12:00</span>
  </div>

  <div class="form__item">
    <div class="input__group">
      <input type="radio" name="afternoon" />
      <label for="afternoon">Tarde</label>
    </div>
    <span>12:01 às 18:00</span>
  </div>

  <div class="form__item">
    <div class="input__group">
      <input type="radio" name="night" />
      <label for="night">Noite</label>
    </div>
    <span>18:01 às 23:00</span>
  </div>

  <div class="checkbox__wrapper">
    <input type="checkbox" name="show-cloed" />
    <label for="show-closed">Exibir unidades fechadas</label>
  </div>

  <div class="button__wrapper">
    <button class="search__button">Encontrar unidade</button>
    <button class="clear__button">Limpar</button>
  </div>
</form>
